<form [formGroup]="loginForm" (submit)="login()">
    <mat-card>
        <mat-card-content>
            <h2 style="text-align: center;">Log In</h2>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput 
                       placeholder="Email" 
                       type="email"
                       formControlName = "email"
                       required>
                <mat-error>
                  <span>This field is mandatory.</span>
                </mat-error>
            </mat-form-field>
            
            
            <small *ngIf="error" class="field-error">{{errorMsg}}</small>
    
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput 
                       type="password" 
                       placeholder="Password" 
                       formControlName = "password"
                       required>
                <mat-error>
                    <span>This field is mandatory.</span>
                </mat-error>       
            </mat-form-field>
    
            <small *ngIf="error" class="field-error">{{errorMsg}}</small>
        </mat-card-content>
    
        
        <mat-card-actions>
          <button mat-raised-button 
                  color="primary">
                  Submit
          </button>
        </mat-card-actions>
    </mat-card>
</form>