<div fxLayout.gt-sm="row">
    <div fxFlex.gt-sm="80" fxFlex="100" fxLayout.xs="column" class="title-box">
        <div fxLayout="row" fxLayoutAlign="center" class="title">
            <h2>Edit Band</h2>
        </div>
        <div fxLayout.gt-sm="row" fxLayout="column" class="content-box">
            <div fxFlex.gt-sm="60" fxFlex="100" fxLayout="column">
                <div fxLayout="column" fxLayoutGap="25px">
                    <mat-form-field appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput
                        type="text"
                        [placeholder]="band.name"
                        [(ngModel)]="band.name"
                        >
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Youtube Url</mat-label>
                        <input matInput
                        type="text"
                        [placeholder]="band.url_yt"
                        [(ngModel)]="band.url_yt"
                        >
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <input matInput
                        type="text"
                        [placeholder]="band.image"
                        [(ngModel)]="imageName"
                        disabled>
                    </mat-form-field>

                    <div fxLayoutAlign="center">
                        <button mat-raised-button color="primary" (click)="updateBand()" class="btn-mg-right">Update</button>
                        <button mat-raised-button color="warn" (click)="deleteBand()" class="btn-mg-left">Delete</button>
                    </div>
                    
                </div>
            </div>

            <div fxFlex.gt-sm="40" fxFlex="100" fxLayout="column"  fxLayoutAlign="center center">
                <div fxLayout="column">
                    <div>
                        <img [src]="band| bandImage" class="images">
                    </div>
                    <small>Created: {{band.created_at | date}}</small>
                    <button mat-raised-button (click)="selectFile.click()">Change image</button>
                    <input type="file" (change)="getImage($event)" style="display: none" #selectFile>
                </div>
            </div>
        </div>
    </div>
</div>
