
.title {
    background-color: #212121;
}


.title > h2 {
    margin-top: 15px;
}

.btn-mg-right {
    margin-right: 10px;
}

.btn-mg-left {
    margin-left: 10px;
}

@media (max-width: 959px) {
    .images {
        margin-top: 20px;
    }
} 