<div fxLayout.gt-sm="row">
    <div fxFlex.gt-sm="80" fxFlex="100" fxLayout.xs="column" class="title-box">
        <div fxLayout="row" fxLayoutAlign="center" class="title">
            <h2>Update my profile</h2>
        </div>
        <div fxLayout.gt-sm="row" fxLayout="column" class="content-box">
            <div fxFlex.gt-sm="60" fxFlex="100" fxLayout="column">
                <div fxLayout="column" fxLayoutGap="25px">
                    <mat-form-field appearance="fill">
                        <mat-label>User Name</mat-label>
                        <input matInput
                        type="text"
                        [placeholder]="userInfo.name"
                        [(ngModel)]="userInfo.name"
                        >
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput
                        type="text"
                        [placeholder]="userInfo.email"
                        [(ngModel)]="userInfo.email"
                        >
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <input matInput
                        type="text"
                        [placeholder]="userInfo.image!"
                        [(ngModel)]="imageName"
                        disabled>
                    </mat-form-field>

                    <div fxLayoutAlign="center">
                        <button mat-raised-button color="primary" (click)="updateInfo()" class="btn-mg-right">Save changes</button>
                    </div>
                    
                </div>
            </div>

            <div fxFlex.gt-sm="40" fxFlex="100" fxLayout="column"  fxLayoutAlign="center center">
                <div fxLayout="column">
                    <div>
                        <img [src]="userInfo | userImages" class="images">
                    </div>
                    <small>Created: {{userInfo.createdAt | date}}</small>
                    <button mat-raised-button (click)="selectFile.click()">Change image</button>
                    <input type="file" (change)="getImage($event)" style="display: none" #selectFile>
                </div>
            </div>
        </div>
    </div>
</div>
