<mat-card class="card" [routerLink]="['/bands/', favBand.id ]" *ngIf="favBand">
    <mat-card-header>
        <mat-card-title>{{favBand.name}}</mat-card-title>
    </mat-card-header>

    <img mat-card-image [src]="favBand | bandImage" class="band-img">
</mat-card>

<mat-card class="card" [routerLink]="['/tabs/', favTab.id ]" *ngIf="favTab">
    <mat-card-header>
        <mat-card-title>{{favTab.name}}</mat-card-title>
    </mat-card-header>

    <img mat-card-image [src]="favTab.users | userImages" class="band-img">
</mat-card>

<mat-card class="card" [routerLink]="['/tabs/', userTab.id ]" *ngIf="userTab">
    <mat-card-header>
        <mat-card-title>{{userTab.name}}</mat-card-title>
    </mat-card-header>

    <img mat-card-image src="../../../../assets/images/guitar.png" class="band-img">
</mat-card>