<form [formGroup]="registerForm" (submit)="register()">
    <mat-card>
        <mat-card-content>
            <h2 style="text-align: center;">Register</h2>

            <mat-form-field appearance="fill"> 
                <mat-label>User Name</mat-label>
                <input matInput 
                       placeholder="User Name" 
                       formControlName="name"
                       required>
                <mat-error>
                    <span>This field is mandatory.</span>
                </mat-error>
            </mat-form-field>
    
            <small *ngIf="error && errorName" class="field-error">{{errorName}}</small>

            <mat-form-field appearance="fill" > 
                <mat-label>Email</mat-label>
                <input matInput 
                       type="email"
                       placeholder="Email" 
                       formControlName="email"
                       required>
                <mat-error>
                    <span>This field is mandatory.</span>
                </mat-error>       
            </mat-form-field>
    
            <small *ngIf="error && errorEmail" class="field-error">{{errorEmail}}</small>

            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput 
                       type="password"
                       placeholder="Password" 
                       formControlName = "password"
                       required>
                <mat-error>
                    <span>This field is mandatory.</span>
                </mat-error>
            </mat-form-field>
            
            <small *ngIf="error && errorPwd" class="field-error">{{errorPwd}}</small> 

            <mat-form-field appearance="fill">
                <mat-label>Password Confirmation</mat-label> 
                <input matInput 
                       type="password"
                       placeholder="Password Confirmation" 
                       formControlName="password_confirmation"
                       required>
                <mat-error>
                    <span>This field is mandatory.</span>
                </mat-error>       
            </mat-form-field>

            <small *ngIf="error && errorPwd" class="field-error">{{errorPwd}}</small>
        </mat-card-content>
    
        <mat-card-actions>
          <button mat-raised-button color="primary">Submit</button>
        </mat-card-actions>
    </mat-card>
</form>


