<div fxLayout.gt-xs="row" > 
    <div fxFlex="80" fxFlex.md="90" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column" class="title-box">
        <div fxFlex="100" fxLayoutAlign="center" class="title">
            <h2>{{band.name}}</h2>
        </div>
        <div fxLayout.gt-sm="row" fxLayout="column" fxFlex="100" class="content-box">
            <div fxLayout="column"  fxFlex="60" style="border: solid red 5px;">
                <ul>
                    <li>LINK</li>
                    <li>LINK</li>
                    <li>LINK</li>
                    <li>LINK</li>
                    <li>LINK</li>
                    <li>LINK</li>
                    <li>LINK</li>
                    <li>LINK</li>
                    <li>LINK</li>
                    <li>LINK</li>
                    <li>LINK</li>
                    <li>LINK</li>
                </ul>               
            </div>

            <div fxLayout="column"  fxFlex="40">
                <iframe [src]="band | youtubeVideo" height="300px" frameborder="0" allowfullscreen></iframe>
                
                <div fxLayoutAlign="center" class="btn-box">
                    <button mat-icon-button class="btn-mg-right" (click)="setFavorite()" *ngIf="!isFavourite; else favoriteBtn">
                        <mat-icon>favorite</mat-icon>
                    </button>
                    <button mat-raised-button 
                            class="btn-mh-left" 
                            [routerLink]="['/bands/edit', band.id ]"
                            *ngIf="isAdmin">
                            Edit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #favoriteBtn>
    <button mat-icon-button color="primary"  (click)="setFavorite()" class="btn-mg-right">
        <mat-icon>favorite</mat-icon>
    </button>
</ng-template>