.title > h2 {
    margin-top: 15px;
}

.create-btn {
    width: 120px;
    margin-right: 20px;
}

.select-btn {
    width: 120px;
    margin-left: 20px;
}

.field-error {
    margin-top: -20px;
    color: red;
}


textarea {
    height: 300px;
}