<div fxLayout="row">
    <div fxFlex.gt-sm="50" fxFlex="100" class="title-box">
        <div fxLayout="row" fxLayoutAlign="center" class="title">
            <h2>Edit Tab</h2>
        </div>

        <div fxLayout="column" class="content-box" style="margin-bottom: 50px;">
                <div fxFlex="100" fxLayout="column">
                    <div fxLayout="column" fxLayoutGap="25px">
                        <mat-form-field appearance="fill">
                            <mat-label>Name</mat-label>
                            <input matInput
                            type="text"
                            placeholder="Tab name"
                            [(ngModel)]="tab.name"
                            required>
                            <mat-error>
                                <span>This field is mandatory.</span>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Tab Content</mat-label>
                            <textarea 
                            style="font-family: monospace; white-space: nowrap; overflow-x: auto;"
                            matInput
                            type="text"
                            [(ngModel)]="tab.content"
                            class="tab-content"
                            required>
                            </textarea>
                            <mat-error>
                                <span>This field is mandatory.</span>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Youtube Url</mat-label>
                            <input matInput
                            type="text"
                            placeholder="Insert url"
                            [(ngModel)]="tab.url_yt">
                        </mat-form-field>
    
                        <div fxLayout="row" fxLayoutAlign="center">
                            <button mat-raised-button color="primary" (click)="updateTab()" class="btn-mg-right" >Update</button>
                            <button mat-raised-button color="warn" (click)="deleteTab()" class="btn-mg-left">Delete</button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

